<nav id="nav">
  <ul>
    <a *ngFor="let track of _trackInformation.tracks" [class.active]="_id === track" routerLink="/admin/{{track}}">
      <li>{{track}}</li>
    </a>
  </ul>

  <button class="green-button" (click)="startNewTrack()">
    <div class="center">
      <i class="material-icons">add</i> NEW TRACK
    </div>
  </button>
</nav>

<div id="content">

  <div class="split">
    <input class="input-admin" [(ngModel)]="_trackInformation.track.name" placeholder="Name" />
    <div>
      <div class="inline-state" *ngIf="_isSaved">Saved!</div>
      <button (click)="save()">
        <div class="center">
          <i class="material-icons">save</i> Save
        </div>
      </button>
      <button (click)="deleteTrack()">
        <div class="center">
          <i class="material-icons">delete</i>
        </div>
      </button>
    </div>
  </div>


  <div id="track" #container oncontextmenu="return false" (mousedown)="onKeyDown($event)" (mouseup)="onKeyUp($event)"></div>

  <div class="details">
    <input class="input-admin input-full-width" [(ngModel)]="_trackInformation.track.type" placeholder="Type" />
    <textarea class="input-admin input-full-width" (ngModel)="_trackInformation.track.description" placeholder="Description">{{_trackInformation.track.description}}</textarea>
  </div>
</div>
