
<header class="admin-header">
  <h1 class="title">Race admin panel</h1>
</header>

<nav id="nav">
  <h4>Games</h4>

  <ul>
    <a routerLink="/admin/{{game.id}}" routerLinkActive="active" [class.active]="id == game.id">
      <input [ngModel]="game.name">
      <input [ngModel]="game.description">
    </a>
  </ul>

</nav>

<div id="content">
  <div *ngIf="!id">
    Please select a game.
  </div>
  <div *ngIf="id">
    <h1>Edit game</h1>
		<app-track-creation></app-track-creation>
  </div>
  
</div>

