/* The Modal (background) */
.modal {
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}
.hidden {
    display: none;
}

/* Modal Content */
.modal-content {
    background-color: whitesmoke;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-content.hidden {
    display: none;
}

input {
    display: inline-block;
    width: 100%;
    border: 2px solid #ddd;
    margin: 10px 0;
    padding: 8px 16px;
    border-radius: 6px;
}

input:focus {
    outline: none;
    border-color: red;
}


.bestTime {
    font-weight: bolder;
    color: red;

}

li {
  list-style-type: none;
}

th, td {
    border: 2px solid black;
    padding: 15px;
    text-align: left;
}