/* The Modal (background) */
.modal {
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}
.hidden {
    display: none;
}

/* Modal Content */
.modal-content {
    background-color: whitesmoke;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-content.hidden {
    display: none;
}
