<div class="game-container">
  <div class="canvas-container" #container>
    <div class="stats">
      <li>Gear: {{this.renderService.car.currentGear + 1}}</li>
      <li>RPM: {{this.renderService.car.rpm | number:'2.0-0'}}</li>
    </div>
  
    <p class="lap">{{_currentGame.currentLap}}/3</p>

    <div class="time-container">
      <li> Time: {{_currentGame.gameTime}} seconds</li>
      <li> Lap Time: {{_currentGame.lapTime}} seconds</li>
    </div>
    
  
    <p *ngIf="renderService.raceStarter" class="countdown">{{renderService.raceStarter.visual}}</p>

    <div class="speedometer">
      <div id="loader-wrapper">
        <div class="loader">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="subline"></div>
          <div class="subline"></div>
          <div class="subline"></div>
          <div class="subline"></div>
          <div class="subline"></div>
          <div class="loader-circle-1"><div class="loader-circle-2"></div></div>
          <div class="needle" [style.transform]="'rotate(' + this.renderService.car.speed.length() * 3.6 + 'deg)'">
            <div class="moving-needle"></div>
          </div>
          <div class="loading">{{this.renderService.car.speed.length() * 3.6 | number :'2.2-2'}} km/h</div>
        </div>
      </div>
    </div>
  
  </div>
</div>


<app-results></app-results>
<div class="game-choice" *ngIf="!_raceStarted">

  <button (click)="start()">start race</button>


    <li *ngFor="let track of _trackInformation.tracks">
      <button (click)="getTrackInfo(track)">{{track}}</button>
    </li>
    <br><br><br>
  
  <div *ngIf="_trackInformation.track">
      <span>name: </span>{{_trackInformation.track.name}}<br>
      <span>type: </span>{{_trackInformation.track.type}}<br>
      <span>description: </span>{{_trackInformation.track.description}}<br>
      <span>times played: </span>{{_trackInformation.track.timesPlayed}}<br>
      <li *ngFor="let time of _trackInformation.track.completedTimes">
        {{time.player}}: {{time.gameTime}} seconds
      </li>
  </div>
</div>