<div class="canvas-container" #container>
  <ul class="stats">
    <li>Speed: {{this.renderService.car.speed.length() * 3.6 | number :'2.2-2'}} km/h</li>
    <li>Gear: {{this.renderService.car.currentGear + 1}}</li>
    <li>RPM: {{this.renderService.car.rpm | number:'2.0-0'}}</li>
  </ul>

  <p class="lap">Lap: {{_currentGame.currentLap - 1}} / 3</p>
    <p class="time"> Time: {{_currentGame.gameTime}} seconds</p>
    <p class="lap-time"> Lap Time: {{_currentGame.lapTime}} seconds</p>

</div>




<br>
<br>
<br>
<br>

<span>FLAGGED laps: {{_currentGame.currentLap}}</span><br>
 <li *ngFor="let time of _currentGame.lapTimes">
  {{time}} seconds
</li> 
<div *ngIf="!_raceStarted">

  <button (click)="start()">start race</button>

    <li *ngFor="let track of _trackInformation.tracks">
      <button (click)="getTrackInfo(track)">{{track}}</button>
    </li>
    <br><br><br>
  
  <div *ngIf="_trackInformation.track">
      <span>name: </span>{{_trackInformation.track.name}}<br>
      <span>type: </span>{{_trackInformation.track.type}}<br>
      <span>description: </span>{{_trackInformation.track.description}}<br>
      <span>times played: </span>{{_trackInformation.track.timesPlayed}}<br>
      <li *ngFor="let time of _trackInformation.track.completedTimes">
        {{time}} seconds
      </li>
  </div>

</div>