.lap{
    background-color: rgba(211,211,211,0.5);
    padding: 5px 5px;
    color: white;
    z-index: 1;
    position: absolute;
    right: 20px;
    top: 40px;
    align-content: center;
}

.time{
    z-index: 1;
    position: absolute;
    right: 50%;
    top: 40px;
    align-content: center;
    color: white;
}