
<main>
  <header class="header">
    <div class="header-background">
      <span class="stripe-1"></span>
      <span class="stripe-2"></span>
      <span class="stripe-3"></span>
      <span class="stripe-4"></span>
    </div>
  </header>

  <div class="center-box">
    <div class="box">
      <h1>Play time!</h1>
      <a routerLink="/crossword">
        <button>Play crossword</button>
      </a>
      <a routerLink="/race">
        <button>Play race game</button>
      </a>
    </div>  
  </div>
  
</main>