.grid {
	display: inline-block;
	position: relative;
    border: 1px solid #333;
}

.row {
	display: flex;
}

.square {
	height: 50px;
	width: 50px;
	border: 1px solid #333;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}
.selected{
	background-color: green;
	color: white;
}

.col input {
    text-align: center;
}