.grid {
    display: inline-block;
    position: relative;
    border: 1px solid #333;
}

.row {
    display: flex;
}

.square {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.square.selected {
    background-color: #ddd;
}

.square.is-black {
    background-color: #000;
    color: #000;
    pointer-events: none;
}

.col input {
    text-align: center;
}

.col input:focus {
    outline: none;
    border: 3px solid black;
}

.col input:disabled {
    background-color: rgba(34, 75, 22, 0.301);
}
