<div>
  <div class="grid" >
    <div class="row" *ngFor="let row of _gridService.grid;" >
      <div class="col" *ngFor="let cell of row;">
					<input 
            [disabled]="cell.validated || cell.validatedByOther" 
            [class.validate]="cell.validated"
            [class.validateOther]="cell.validatedByOther"
            [class.sharedValidation]= "cell.sharedValidation"
            class="square"
						[ngModel]="cell.char" 
						(keypress)="updateGrid($event, cell)" 
						(keyup)="updateGrid($event, cell)"
						maxlength="1" 
            [class.is-black]="cell.char === '-'"
            (click)=selectCellFromGrid(cell)
            id={{cell.id}}
            />

          <div *ngIf="cell.startOfSelected()" 
                class="border selected" 
                [ngStyle]="highlightStyle(false)">
          </div>
          <div *ngIf="cell.startSelectedByOther()" 
                class="border selectedOther" 
                [ngStyle]="highlightStyle(true)">
          </div>

					<div class="indexes">
						<div class="small-index" *ngFor="let index of cell.wordIndexes">
              {{index}}   
						</div>
          </div>
          
      </div>
    </div>
  </div>
</div>
