<ui-button *ngFor = "let mode of modes" (click)="onSelect(mode)" [active]="selectedMode == mode">
  {{mode}}
</ui-button>
<ui-button (click)="createGame(selectedMode)">Create Game</ui-button>
<ui-button (click)= "addGames(); toggleShowGames()">Join Game</ui-button>
<button [ngClass] = "{ 'hide': !showGames, 'show': showGames}" *ngFor = "let game of games" (click) = "joinGame(game.name)">{{game.players[0]}}</button>

<!-- <input type="text" [(ngModel)]="input"/>{{input}} -->



<input (input)="onEnter($event.target.value)">
{{player}}