<ui-button *ngFor = "let mode of modes" (click)="onSelect(mode)" [active]="selectedMode == mode">
  {{mode}}
</ui-button>
<ui-button (click)="createGame(selectedMode)">Create Game</ui-button>
<ui-button (click)= "addGames(); toggleShowGames()">Join Game</ui-button>
<button [ngClass] = "{ 'hide': !showGames, 'show': showGames}" *ngFor = "let game of games" (click) = "joinGame(game)">{{game}}</button>

<!-- <input type="text" [(ngModel)]="input"/>{{input}} -->



<input #box (keyup.enter)="onEnter(box.value)">
{{value}}