<div *ngIf="!isWaitingForPlayer()">
  <h1>Welcome {{player}}!</h1>

  <div class="input-row">
    <button *ngFor="let mode of modes" (click)="onSelect(mode)" [class.active]="selectedMode == mode">
      {{mode}}
    </button>
  </div>

  <div class="input-row" [hidden]="showDifficulty">
    <app-difficulty (click)="isDifficultySelected()"></app-difficulty>
  </div>

  <div class="input-row" [hidden]="!startSoloGame()">
    <button (click)="closeDialog()">Start Game</button>
  </div>

  <div [hidden]="!isMultiPlayer()">
    
    <div class="input-row">
        Please enter your name:
        <input (input)="onEnter($event.target.value)" />
    </div>

    <div class="input-row" *ngIf="player.length > 2">
      <button (click)="createGame(selectedMode)">Create Game</button>
      <button (click)="addGames(); toggleShowGames()">Join Game</button>
    </div>

    <div class="players-container">
     <div class="players" [ngClass]="{ 'hide': !showGames, 'show': showGames}" *ngFor="let game of games">
        <div class="players-left">
            <b>Mode</b>: Multiplayer <br/>
            <b>Player: </b>: {{game.players[0]}} <br/>
            <b>Difficulty: </b>: {{game.difficulty}}
        </div>
        <div class="players-right">
            <button (click)="joinGame(game.name); closeDialog()">Join</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div *ngIf="isWaitingForPlayer()">
  <div class="waiting-connection">
    <h2>Waiting for another player to join</h2>
    <div class="spinner">
        <mat-spinner color="warn"></mat-spinner>
    </div>
  </div>
</div>
