<div class="waiting-connection" *ngIf="dialogType() === 0">
  <h2 class="disconnected">Opponent left the game</h2>
  <h1>You have won!</h1>
  <button (click)="openModeDialog()">Play again</button>
  <a routerLink="">
    <button (click)="closeDialog()">Main menu</button>
  </a>
</div>

<div class="waiting-connection" *ngIf="dialogType() === 1">
  <h2 class="disconnected">Congratulations!</h2>
  <h1>You completed the grid</h1>
  <button (click)="openModeDialog()">Play again</button>
  <a routerLink="">
  <button (click)="closeDialog()">Main menu</button>
  </a>
</div>

<div class="waiting-connection" *ngIf="dialogType() === 2">
  <h2 class="disconnected">WIN!</h2>
  <h1>You won the game!</h1>
  <button (click)="openModeDialog()">Play again</button>
  <button (click)="openModeDialog()">Play new game</button>
  <button (click)="openModeDialog()">Main menu</button>
  
  
</div>

<div class="waiting-connection" *ngIf="dialogType() === 3">
  <h2 class="disconnected">You lost...</h2>
  <h1>Try again?</h1>
  <button (click)="openModeDialog()">Play again</button>
</div>